@model CuaHangCongNghe.Models.ProductViewModel
@{
    Layout = "LayoutAdmin";
}

    
    <div class="col-md-8" style="margin-top:150px">
        <form asp-action="AddProduct" asp-antiforgery="true" enctype="multipart/form-data">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name">Tên sản phẩm</label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="Name" class="form-control" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Price">Giá</label>
                </div>
                <div class="col-8">
                    <input type="number" asp-for="Price" class="form-control" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Price">Số lượng</label>
                </div>
                <div class="col-8">
                    <input type="number" asp-for="Stockquantity" class="form-control" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Description">Mô tả</label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Description" class="form-control" rows="3" required></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="File">tải hình ảnh</label>
                </div>
                <div class="col-8">
                    <input type="file" asp-for="File" class="form-control-file" required>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-outline-secondary">thêm</button>
            </div>
        </form>
    </div>
