@{
    Layout = "_Layout"; // Đảm bảo layout được đặt tên đúng
}


<a style="color:black" asp-controller="Account" asp-action="Login">Login</a>
<a style="color:black" asp-controller="Admin" asp-action="CreateUser">CreateUser</a>