<div class="card" style="width: 18rem;">
    <div class="col-md-4">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item ">
                    <a asp-action="GetUsers" class="material-symbols-outlined">group<i>Quản lý người dùng</i></a>
            </li>
            <li class="list-group-item">
                    <a asp-action="GetOrders" class="material-symbols-outlined">List<i>Quản lý đơn hàng</i></a>
            </li>
            <li class="list-group-item">
                    <a asp-action="GetRoles" class="material-symbols-outlined">Settings_Accessibility<i>Quản lý quyền truy cập</i></a>
            </li>
            <li class="list-group-item">
                    <a asp-action="GetOrders" class="material-symbols-outlined">apps<i>Quản lý sản phẩm</i></a>
            </li>
            <li class="list-group-item">
                    <a asp-action="AddProduct" class="material-symbols-outlined">add<i>Thêm sản phẩm</i></a>
            </li>
        </ul>
    </div>
</div>
</div>