<footer class="footer bg-dark text-white-50" style="  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;">
    <div class="container text-center">
        <small>&copy; @DateTime.Now.ToString("dddd, dd MMMM yyyy hh:mm tt") CellPhone Universe</small>
    </div>
</footer>