<header>
    <nav>
        <h1><a href="/">Cửa hàng trực tuyến</a></h1>
        <ul>
            @if (User.IsInRole("Admin"))
            {
                <li><a href="/Admin/GetOrders">Bảng điều khiển quản trị</a></li>
            }
            @if (!User.Identity.IsAuthenticated)
            {
                <li><a href="/Account/Login">Đăng nhập</a></li>
            }
            else
            {
                <li><a href="/UserProfile/Index">Trang cá nhân</a></li>
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input type="submit" value="Logout" style="background:none;border:none;padding:0">
                </form>
            }
            <li class="nav-item">
                <form method="get" class="form-inline my-2 my-lg-0">
                    <button class="btn btn-dark" type="submit" asp-controller="Cart" asp-action="Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart2" viewBox="0 0 20 19">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                        </svg>
                        <span class="visually-hidden"><strong>@await Component.InvokeAsync("Cart", User.Identity.Name)</strong></span>
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</header>