.ku14 + s {
    display: block;
    width: 180px;
    flex-shrink: 0;
}
.Amwkjq{
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
}
    .wf9gag {
        transition: margin-top .3s cubic-bezier(.4,0,.2,1);
        -webkit-overflow-scrolling: touch
    }
    
    .wf9gag.VoW7JD {
        margin-top: 7.4375rem
    }
    
    .wf9gag.JiMWjE {
        margin-top: 11.125rem
    }
    
    .stardust-dropdown {
        position: relative
    }
    
    .stardust-dropdown__item-body {
        transition: height .4s cubic-bezier(.4,0,.2,1),opacity .4s cubic-bezier(.4,0,.2,1);
        height: 0;
        opacity: 0;
        overflow: hidden
    }
    
    .stardust-dropdown__item-body--open {
        height: auto;
        opacity: 1
    }
    
    .FEE-3D {
        text-decoration: none;
        color: rgba(0,0,0,.87);
        display: block;
        margin-bottom: .9375rem;
        color: rgba(0,0,0,.65)
    }
    
    .qyt-aY:hover,.tH0d6d {
        color: #0e0b0b
    }
    
    .qyt-aY {
        font-size: .875rem;
        text-align: left;
        display: block
    }
    
    .\+1U02e,.qyt-aY {
        text-transform: capitalize;
        transition: color .1s cubic-bezier(.4,0,.2,1)
    }
    
    .\+1U02e {
        text-decoration: none;
        color: rgba(0,0,0,.87);
        display: flex;
        align-items: center;
        margin-bottom: .9375rem
    }
    
    .\+1U02e.wkLUkx,.\+1U02e:hover {
        color: #ee4d2d
    }
    
    .bfikuD {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.25rem;
        height: 1.25rem;
        line-height: 1.25rem;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        flex-shrink: 0;
        margin-right: .625rem
    }
    
    .bfikuD>img {
        width: 100%;
        height: 100%
    }
    
    .DlL0zX {
        line-height: 1rem
    }
    
    .adF7Xs {
        font-weight: 500;
        margin-right: .3125rem
    }
    
    ._7udlQ7 {
        vertical-align: middle;
        position: absolute
    }
    
    .Yu7gVR {
        display: block;
        padding: 0 0 .1875rem 2.125rem
    }
    
    .AmWkJQ {
        display: flex;
        padding: 15px 0;
        border-bottom: 1px solid #efefef
    }
    
    ._1O4r\+C,.shopee-avatar {
        width: 50px;
        height: 50px
    }
    
    .miwGmI {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15px;
        overflow: hidden
    }
    
    .mC1Llc {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-height: 1rem;
        font-weight: 600;
        margin-bottom: 5px;
        color: #333
    }
    
    ._78QHr1 {
        color: #888;
        text-transform: capitalize;
        text-decoration: none
    }
    
    ._6ojOQx {
        margin-top: .9375rem;
        display: flex;
        align-items: center
    }
    
    ._6ojOQx+.xieZbA {
        margin-top: 1.25rem
    }
    
    .xieZbA {
        margin-top: .9375rem
    }
    
    .xieZbA .BZDrJG {
        margin-left: 2.125rem
    }
    
    .AQ3Jmi {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        margin-right: .625rem
    }
    
    .BZDrJG {
        height: 1rem;
        width: 8.75rem
    }
    
    ._2ZEaD {
        background-color: #a4aaaa;
        background-image: linear-gradient(90deg,#a4aaaa,#000 25%,#a4aaaa 50%);
        background-repeat: no-repeat;
        background-size: 200% 100%;
        background-position: 100% 0;
        animation: _2ZEaD 1.5s infinite;
        transform: translateZ(0)
    }
    
    ._2ZEaD .geCJg {
        background: #fff;
        isolation: isolate;
        mix-blend-mode: screen
    }
    
    ._2ZEaD .M6lQx {
        background: #f1f0f0
    }
    
    @keyframes _2ZEaD {
        0% {
            background-position: 100% 0
        }
    
        to {
            background-position: -100% 0
        }
    }
    
    .kul4\+s {
        display: block;
        width: 180px;
        flex-shrink: 0
    }
    
    .rhmIbk {
        list-style: none;
        padding: 0;
        margin: 27px 0 0;
        cursor: pointer
    }
    
    .pIHdXn {
        display: flex;
        padding: 1.25rem 0 3.125rem
    }
    
    .xMDeox {
        position: relative;
        flex-grow: 1;
        width: 980px;
        box-sizing: border-box;
        margin-left: 1.6875rem;
        min-width: 0;
        background: #fff;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.13);
        border-radius: .125rem
    }
    
    .LwnLHU {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background-color: initial
    }
    
    /*# sourceMappingURL=https://sourcemap.webfe.shopeemobile.com/pcmall-static/_/1714.804f50c2b64d28df.css.map*/
    













































.my-profile-item {
    width: 300px;
    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    margin-bottom: 40px;
    margin-left: 15px;
}

.lzd-playground {
    width: 100%;
    min-width: 1188px;
    min-height: 474px;
    background: #eff0f4;
    position: relative;
    padding-bottom: 40px
}


.lzd-playground-nav {
    position: absolute;
    background: #eff0f4;
    width: 158px;
    height: 438px;
    padding-top: 40px;
}

.lzd-playground-nav .member-info {
    font-size: 14px;
    line-height: 22px;
    color: #100d0d;
    letter-spacing: 0
}

.lzd-playground-nav .member-info>p {
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 158px;
    display: block;
    overflow: hidden
}

.lzd-playground-nav .member-info>p span {
    display: inline-block;
    line-height: 22px;
    height: 22px
}

.lzd-playground-nav .member-info .label {
    border-radius: 20px;
    width: 104px;
    height: 20px;
    line-height: 20px;
    margin-top: 4px
}

.lzd-playground-nav .member-info .label img {
    float: left;
    margin: 4px 0 0 4px
}

.lzd-playground-nav .member-info .label i {
    margin-left: 5px
}

.lzd-playground-nav .nav-container {
    list-style: none;
    margin: 16px 0 0;
    padding: 0;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #424242;
    letter-spacing: 0;
    line-height: 24px
}

.lzd-playground-nav .nav-container .item {
    margin: 16px 0 0
}

.lzd-playground-nav .nav-container .item>a {
    text-decoration: none;
    color: #424242;
    font-size: 20px;
    font-weight: bold;
}



.lzd-playground-nav .nav-container .item .item-container {
    list-style: none;
    margin: 0;
    padding: 0 0 0 16px
}

.lzd-playground-nav .nav-container .item .item-container .sub a {
    cursor: pointer;
    font-family: Roboto-Regular;
    font-size: 15px;
    color: #757575;
    letter-spacing: 0;
    line-height: 22px;
    text-decoration: none
}



.lzd-playground-right {
    position: relative;
    margin-left: 201px
}

.lzd-playground-right .breadcrumb {
    height: 60px;
    line-height: 60px;
    font-family: Roboto-Regular;
    font-size: 13px;
    color: #5d5d5d;
    letter-spacing: .09px
}

.lzd-playground-right .breadcrumb .arrow {
    padding-left: 4px;
    padding-right: 4px
}

.lzd-playground-right .breadcrumb a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    color: #424242
}

.lzd-playground-right .container {
    width: 988px
}


.playground-iconfont {
    font-family: lazada-account!important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}

div.breadcrumb {
    height: 60px;
    line-height: 60px;
    font-family: Roboto-Regular;
    font-size: 30px;
    color: #5d5d5d;
    letter-spacing: .09px;
}
.div .breadcrumb a {
    text-decoration: none;
    font-size: 40px;
    font-weight: 400;
    color: #424242;
}
div.my-profile-item-title {
    color: #424242;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 50px;
}
.p-3{
    font-weight: bold;
    margin-top: 50px; 
    margin-bottom: 10px;
    
}
.my-profile-item-info {
    color: #212121;
    font-size: 14px;
    padding-top: 7px;
}
.shop .shop-header, .shop .shop-header .shop-left {
    display: flex;
    align-items: center;
}
    .shop .shop-header .shop-right .shop-right-status {
        background-color: #ecf0f7;
        color: #333;
        font-size: 14px;
        padding: 4px 12px;
        border-radius: 100px;
    }
    .shop .shop-header .shop-right {
    display: flex;
    align-items: center;
}
.text {
    color: #212121;
    word-break: break-word
}

    .text.bold {
        font-weight: 500
    }

    .text.link {
        cursor: pointer;
        color: #1a9cb7
    }

    .text.warning {
        color: #d32329
    }

    .text.success {
        color: #4caf50
    }

    .text.info {
        color: #757575
    }

    .text.header {
        font-size: 18px
    }

    .text.title {
        font-size: 14px;
        margin-bottom: 3px
    }

    .text.desc {
        font-size: 12px
    }

    .text.multiply {
        color: #c9c9c9
    }

    .text.delivery-success {
        color: #212121
    }

    .text.delivery-info {
        color: #4caf50
    }

    .text.text-right {
        text-align: right
    }

    .text.light-gray {
        color: #9e9e9e
    }
.text-tag-alert {
    padding: 10px 15px;
    max-width: 240px
}

    .text-tag-alert .tag-alert-title {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 5px
    }

    .text-tag-alert .tag-alert-message {
        font-weight: 400;
        font-size: 12px;
        color: #333
    }
.order-item .item-sku, .order-item .item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.order-item {
    display: flex;
    flex-wrap: wrap;
   
}

.item-main-mini {
    flex: 0 0 calc(200px - 40px);
    margin-left: px;
   
}
.order-item .item-main-mini {
    width: 280px;
    margin-left:40px;
}

.order-item .item-main {
    float: left;
    width: 360px;
    margin-left: 12px;
    margin-right: 24px;
}
.order-item .item-status {
    float: left;
    min-height: 80px;
    text-align: left;
}
.order-item .item-quantity {
    font-size: 14px;
    float: left;
    width: 64px;
    min-height: 80px;
    text-align: left;
    margin-left: 100px;
}
.card.border-0 {
    width: 50rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    min-height: 80px;
    padding: 24px 12px 0 36px;
    width: 916px;
}
.order-item .item-price {
    margin-bottom: 4px;
    width: 180px;
    margin-right:100px;
}
.item-price.text.bold{
    margin-left:100px;

}
h1.a11y-hidden, h2.a11y-hidden, h3.a11y-hidden {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden
}