@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- computers section start -->
<div class="computers_section layout_padding">
    <div class="container">
        <h1 class="computers_taital">Computers & Laptop</h1>
    </div>
</div>
<div class="row">
    @for (int i =0;i<10;i++)
    {
        <div class="col-md-3">
            <div class="computer_img"><img src="~/images/computer-img.png"></div>
            <h4 class="computer_text">COMPUTER</h4>
            <div class="computer_text_main">
                <h4 class="dell_text">Samsung</h4>
                <h6 class="price_text"><a href="#">$500</a></h6>
                <h6 class="price_text_1"><a href="#">$1000</a></h6>
            </div>
            <div class="cart_bt_1"><a href="#">Add To Cart</a></div>
        </div>
    }
</div>

<!-- computers section end -->
