@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contact_section layout_padding">
    <div class="container">
        <h1 class="contact_taital">Đăng Ký</h1>
        <div class="contact_section_2">
            <div class="mail_section_1">
                <input type="text" class="mail_text" placeholder="Tên" name="tên">
                <input type="text" class="mail_text" placeholder="Gmail" name="gmail">
                <input type="text" class="mail_text" placeholder="Số điện thoại" name="phone">
                <input type="text" class="mail_text" placeholder="Địa chỉ" name="address">
                <input type="password" class="mail_text" placeholder="Mật khẩu" name="password">
                <input type="password" class="mail_text" placeholder="Nhập lại mật khẩu" name="confirm_password">
              
                <div class="send_bt"><a href="#">Đăng ký</a></div>
            </div>
        </div>
    </div>
</div>