@{
Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function validateForm() {
      var password = document.getElementById("password").value;
      var confirm_password = document.getElementById("confirm_password").value;

      if (password != confirm_password) {
        alert("Mật khẩu và xác nhận mật khẩu không khớp!");
        return false;
      }
    }
</script>
<form action="dangkynew" method="get" onsubmit="return validateForm()">
    <label for="username">Tài khoản:</label>
    <input type="text" id="NameUser" name="NameUser" required><br><br>

    <label for="password">Mật khẩu:</label>
    <input type="password" id="password" name="Password" required><br><br>

    <label for="confirm_password">Nhập lại mật khẩu:</label>
    <input type="password" id="confirm_password" name="confirm_password" required><br><br>

    <input type="submit" value="Đăng ký">
</form>