  @{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
@model CuaHangCongNghe.Controllers.Product1
<form action="/User/themvaooder" method="post">

    <div class="container">
        <div class="row">
            <div class="col-xs-4 item-photo">
                <img style="max-width:100%;" src="~/@Model.ImageUrl">
            </div>
            <div class="col-xs-5" style="border:0px solid gray">
                <!-- Datos del vendedor y titulo del producto -->
                <h3>@Model.Name</h3>


                <!-- Precios -->
                <h6 class="title-price"><small>PRECIO OFERTA</small></h6>
                <h3 style="margin-top:0px;">@Model.Price</h3>

                <!-- Detalles especificos del producto -->
                <div class="section">
                    <h6 class="title-attr" style="margin-top:15px;"><small>COLOR</small></h6>
                    <div>
                        <div class="attr" style="width:25px;background:#5a5a5a;"></div>
                        <div class="attr" style="width:25px;background:white;"></div>
                    </div>
                </div>
                <div class="section" style="padding-bottom:5px;">
                    <h6 class="title-attr"><small>CAPACIDAD</small></h6>

                </div>
                <div class="section" style="padding-bottom:20px;">
                    <h5 class="title-attr"><small>số lượng còn lại:@Model.Stockquantity </small></h5>
                    <div>

                        <input type="number" name="soluong" />
                        <input type="hidden" name="id" value="@Model.Id" />

                    </div>
                </div>

                <!-- Botones de compra -->
                <div class="section" style="padding-bottom:20px;">
                    <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> </button>
                    <h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> </a></h6>
                </div>
            </div>

            <div class="col-xs-9">
                <ul class="menu-items">
                    <li class="active">thông tin chi tiết về sản phẩm</li>


                </ul>
                <div style="width:100%;border-top:1px solid silver">

                    <small>
                        <ul>
                            <li>@Model.Description</li>

                        </ul>
                    </small>
                </div>
            </div>
        </div>
    </div>

</form>

